<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>
                    <p>{{this.content}}</p>
                    <p>
                        {{#each this.tags}}
                            <a class="btn btn-default btn-xs" href="/tag/{{ this.name }}">{{ this.name }}</a>
                        {{/each}}
                    </p>
                    <small class="author">{{this.author.fullName}}</small>
                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read More &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="dataTables_info" id="example_info">Showing {{ pagination.from }} to {{ pagination.to }} of {{ pagination.total }} entries</div>
        </div>
        <div class="col-xs-6">
            <div class="dataTables_paginate paging_bootstrap">
                {{{ pagination.links }}}
            </div>
        </div>
    </div>
</div>